---
import type { Cv } from "@/types/Cv";
import Section from "../Section.astro";

interface Props {
  cv: Cv;
}

const { cv } = Astro.props;
const { basics } = cv;

const { summary } = basics;
---

<Section title="About">
    <p>{summary}</p>
</Section>
