---
import Section from "../Section.astro";
import type { Basics } from "@/types/Basics";

interface Cv {
  basics: Basics;
}
interface Props {
  cv: Cv;
}

const { cv }: { cv: Cv } = Astro.props;
const { basics } = cv;

const { summary } = basics;
---

<Section title="About">
    <p>{summary}</p>
</Section>
