---
import Section from "../Section.astro";


---

<Section>
    <div>
        <a href="/">Eus</a>
        <a href="/es">Es</a>
    </div>
</Section>

<style>
    @media print {
        a {
            display: none;
        }
    }
</style>