---

---

<header>
   <div class="head-container">
        <div class="head-text">
            <h1>Hegoi Ruiz de Eguino</h1>
            <p>kaixo</p>
        </div>
        <div >
            <img src="/public/porfile.jpg" alt="Nire argazkia">
        </div>
    </div>
</header>

<style>
    .head-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 20em;

    }
    .head-image {
        border-radius: 2em;
        width: 10em;
        height: 10em;

    }
</style>